@font-face {
	font-family: Poppins;
	font-weight: 400;
	src: "../fonts/Poppins-Regular.ttf";
}

@font-face {
	font-family: Poppins;
	font-weight: 500;
	src: "../fonts/Poppins-Medium.ttf";
}

@font-face {
	font-family: Poppins;
	font-weight: 600;
	src: "../fonts/Poppins-SemiBold.ttf";
}

@font-face {
	font-family: Poppins;
	font-weight: 700;
	src: "../fonts/Poppins-Bold.ttf.ttf";
}
